@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Estilos globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4px;
}

/* Sub icons de prueba */
.home,
.condominios,
.edificios,
.admin,
.propietario,
.inquilino,
.cargamasiva,
.configuracion {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* Carga masiva */
.container {
  display: flex;
}

.link {
  text-decoration: none;
  color: inherit;
}
